@charset 'UTF-8';

*{padding:0; margin:0;}
a{text-decoration:none; color:#666;}
ul{list-style:none;}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr{ font-family: 'Noto Sans KR', sans-serif; letter-spacing:1px;}

@font-face {font-family:MalgunGothic; src:url(font/MalgunGothic.eot);}


@media screen and (min-width:1025px){
	body{
		background:url(../image/gnb-bar.png) no-repeat;
		font-family:'Malgun Gothic', sans-serif;
		font-size:14px;
		border-top:2px solid #666;
	}
	#sub-content-inner,
	#footer-inner{
		width:1200px;
		margin:0 auto;
		overflow:hidden;
	}
	#header-inner{
		width:1200px;
		margin:0 auto;
	}


/**************************top content*********************************/

	#main-top-content{
		position:relative;
		overflow:hidden;
		width:100%;
	}
	.sub-top-content{
		width:100%;
		height:500px;
		background:url(../image/sub-top-img.png)no-repeat;
	}
	.sub-top-inner{
		width:1200px;
		height:100%;
		margin:0 auto;
		display:table;
		position:relative;
	}
	.sub-top-inner #sub-top-leftBox{
		overflow:hidden;
		position:absolute;
		top:50%;
		margin-top:-100px;	
	}
	#sub-top-leftBox h2{font-size:35px; color:#fff; height:60px; line-height:60px;}
	#sub-top-leftBox>p{
		font-size:22px;
		color:#fff;
		font-weight:bold;
		line-height:35px;
	}
	#sub-top-leftBox .sub-top-titBox{
		font-size:16px;
		color:#e89c4d;
		width:100px;
		height:40px;
		display:inline-block;
		/*background:#e89c4d;*/
		border:3px solid #e89c4d;
		text-align:center;
		line-height:40px;
		font-weight:bold;
		margin-top:40px;
		margin-right:15px;
	}
	#sub-top-leftBox .sub-top-titBox:nth-of-type(2){
		/*background:#205080;*/
		border:3px solid #205080;
		margin-right:0;
		color:#205080
	}
	#sub-top-leftBox .sub-top-titBox:hover{color:#fff;}
	


	#sub-top-rightBox{
		overflow:hidden;
		position:absolute;
		top:50%;
		right:0;
		width:350px;
		height:350px;
		background:rgba(32,80,128,0.9);
		margin-top:-177.5px;
		padding:40px 20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#sub-top-rightBox>p{font-size:18px; color:#fff;}
	#sub-top-rightBox>h3{font-size:30px; color:#fff;}
	#sub-top-rightBox input[type="text"]{
		width:100%;
		height:45px;
		border:none;
		background-color:#123566;
		color:#fff;
		padding:10px 15px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		margin-top:25px;
	}
	#sub-top-rightBox input[type="text"]::placeholder{color:#fff;}



	#sub-top-rightBox input[type="radio"]{display:none;}
	#sub-top-rightBox input[type="radio"]+label{
		display:inline-block;
		width:48%;
		height:45px;
		line-height:40px;
		text-align:center;
		background-color:#123566;
		color:#fff;
		margin-right:5.1px;
		margin-top:10px;
		font-weight:bold;
	}
	#sub-top-rightBox input[type="radio"]:nth-of-type(3)+label{margin-right:0; float:right;}
	#sub-top-rightBox input[type="radio"]:checked + label{background:#7a9fcd;}
	#sub-top-rightBox input[type="submit"]{
		border:none;
		background:#e89c4d;
		width:100%;
		height:45px;
		margin-top:36px;
		color:#fff;
		font-size:16px;
		font-weight:bold;
	}
/************************left content***********************************/
	#sub-content-inner{
		margin-top:100px;
		margin-bottom:100px;
		position:relative;
	}
	.location{
		position:absolute;
		bottom:-34px;
		right:0;
		font-size:12px;
		font-weight:bold;
	}
	.location span{color:#e89c4d;}
	#sub-content-left{width:880px; overflow:hidden; float:left;}
	

	
	#tab-all-2030{overflow:hidden; width:100%;}
	#tab-all-2030 ul{
		overflow:hidden;
		border:2px solid #d9d9d9;
		width:100%;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#tab-all-2030 ul li{float:left; width:33.333%; background:#f2f2f2;}
	#tab-all-2030 ul li a{
		display:block;
		font-size:18px;
		font-weight:bold;
		line-height:100px;
		width:100%;
		height:100px;
		border-right:2px solid #d9d9d9;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
		line-height:100px;
		text-align:center;
	}
	.tab-color{color:#fff; background:#205080;}
	#tab-all-2030 ul li:nth-child(3) a{border-right:none;}

	#productKind{overflow:hidden;}
	#productKind ul{overflow:hidden;}
	#productKind>ul>li{
		width:100%;
		border-top:3px solid #205080;
		background:#f2f2f2;
		margin-top:30px;
		overflow:hidden;
		padding:30px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}

	#productKind>ul>li>h3{
		font-size:24px;
		margin-bottom:20px;
		color:#205080;
	}
	#productKind>ul>li>h4{
		font-size:20px;
		line-height:30px;
		margin-bottom:20px;
		color:#666;
	}

	.productKind-textBox{overflow:hidden;}
	.productKind-textBox li{
		margin-bottom:20px;
		overflow:hidden;
	}
	.productKind-textBox li:last-child{margin-bottom:0;}
	.productKind-textBox li img{float:left; clear:both; margin-right:20px;}
	.productKind-textBox li p{float:left;
		font-size:18px;
		font-weight:500;
		line-height:30px;
	}
	.productKind-textBox li p>span{font-size:16px; font-weight:normal; color:#e89c4d;}

	#productKind form{text-align:center; margin:50px 0;}
	#productKind input[type="submit"]{
		width:200px;
		height:60px;
		border:none;
		background:#e89c4d; 
		color:#fff;
		font-size:16px;
		font-weight:bold;
		margin:0 10px;
	}
	#productKind input[type="submit"]:hover{background:#205080;  color:#fff;}

	#subscription{overflow:hidden;}
	#subscription h3{
		width:100%;
		background:#205080; 
		color:#fff;
		font-size:18px;
		line-height:60px;
		padding-left:20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#subscription h3 a{
		float:right;
		margin-right:20px;
		font-size:14px;
		color:#fff;
	}
	#subscription h3 a img{margin-left:10px; vertical-align:middle;}
	#subscription ul{
		width:100%;
		overflow:hidden;
		padding:20px 10px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
		background:#f2f2f2;
	}
	#subscription ul li{
		width:23.2%;
		float:left;
		background:#fff;
		height:200px;
		margin-right:20px;
		padding:20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#subscription ul li:last-child{margin-right:0;}
	#subscription ul li h4{margin-bottom:20px;}
	#subscription ul li .subscription-contents{font-size:12px; margin-bottom:40px;}
	#subscription ul li .subscription-grade span{color:#e89c4d; font-weight:bold;}
	#subscription ul li .subscription-name{font-size:12px;}

	/********************section2****************************/
	#sub-content #guarantee{margin-top:30px;}
	#sub-content table{border-collapse:collapse; width:100%;}
	#sub-content caption{display:none;}
	#guarantee h3{
		font-size:18px;
		margin:25px 0 15px 0;
	}
	#sub-content th{background:#f2f2f2;}
	#sub-content td{
		padding:10px;
		height:25px;
		border:1px solid #d9d9d9;
		line-height:25px;
	}
	#sub-content th{
		padding:10px;
		height:24px;
		border:1px solid #d9d9d9;
	}
	#sub-content table td:first-child{border-left:none;}
	#sub-content table td:last-child{border-right:none;}
	#sub-content table th:first-child{border-left:none;}
	#sub-content table th:last-child{border-right:none;}
	.center{text-align:center;}
	{margin-top:30px;}
	#guarantee h2{
		font-size:24px;
		padding-bottom:20px;
	}
	
	.guidance-bottom{
		background:#fcf7f0;
		overflow:hidden;
		margin:30px 0;
		padding:20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.guidance-bottom ul{overflow:hidden; margin-top:10px;}
	.guidance-bottom ul li{color:#666; margin-bottom:5px;}
	.guidance-bottom strong{
		font-size:16px;
		color:#666;
		display:block;
		margin-bottom:10px;
	}
	.bar{width:100%; height:1px;  border-top:1px solid #ccc;}

/******************************section3************************/

	#productPrice{margin-top:30px; width:100%;}
	#productPrice>h2{
		font-size:24px;
		margin-bottom:20px;
		padding-bottom:20px;
		border-bottom:2px solid #d9d9d9;
	}
	#productPrice h3{
		font-size:18px;
		margin:25px 0 15px 0;
	}
	#productPrice .right{text-align:right;}
	#productPrice span{color:red; font-weight:bold;}


/************************right prodect****************************/

	.right-sideBar{
		width:280px;
		overflow:hidden;
		float:right;
		border-top:2px solid #000;
	}
	.right-sideBar ul{overflow:hidden;}
	.right-sideBar ul li{
		overflow:hidden;
		width:100%;
		border-bottom:1px solid #d9d9d9;
	}
	.right-sideBar ul li a{
		display:block;
		width:100%;
		line-height:50px;
		padding:0 20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		font-weight:bold;
	}
	.right-sideBar ul li a:hover{background:#205080; color:#fff;}
	.right-sideBar-basic{background:#205080; color:#fff;}

}





/*******************************************************테블릿********************************************************/

@media screen and (min-width:768px) and (max-width:1024px){
	body{
		background:url(../image/gnb-bar.png) no-repeat;
		font-family:'Malgun Gothic', sans-serif;
		font-size:12px;
		border-top:2px solid #666;
	}
	#sub-content-inner,
	#footer-inner{
		width:95%;
		margin:0 auto;
		overflow:hidden;
	}
	#header-inner{
		width:100%;
		margin:0 auto;
	}


/**************************top content*********************************/

	#main-top-content{
		position:relative;
		overflow:hidden;
		width:100%;
	}
	.sub-top-content{
		width:100%;
		height:500px;
		background:url(../image/sub-top-img-ipad.png)no-repeat;
	}
	.sub-top-inner{
		width:95%;
		height:100%;
		margin:0 auto;
		display:table;
		position:relative;
	}
	.sub-top-inner #sub-top-leftBox{
		overflow:hidden;
		position:absolute;
		top:50%;
		margin-top:-100px;	
	}
	#sub-top-leftBox h2{font-size:22px; color:#fff; height:60px; line-height:60px;}
	#sub-top-leftBox>p{
		font-size:16px;
		color:#fff;
		font-weight:bold;
		line-height:35px;
	}
	#sub-top-leftBox .sub-top-titBox{
		font-size:15px;
		color:#e89c4d;
		width:80px;
		height:30px;
		display:inline-block;
		/*background:#e89c4d;*/
		border:2px solid #e89c4d;
		text-align:center;
		line-height:30px;
		font-weight:bold;
		margin-top:30px;
		margin-right:15px;
	}
	#sub-top-leftBox .sub-top-titBox:nth-of-type(2){
		/*background:#205080;*/
		border:3px solid #205080;
		margin-right:0;
		color:#205080
	}
	
	#sub-top-rightBox{
		overflow:hidden;
		position:absolute;
		top:50%;
		right:0;
		width:350px;
		height:350px;
		background:rgba(32,80,128,0.9);
		margin-top:-177.5px;
		padding:40px 20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#sub-top-rightBox>p{font-size:18px; color:#fff;}
	#sub-top-rightBox>h3{font-size:30px; color:#fff;}
	#sub-top-rightBox input[type="text"]{
		width:100%;
		height:45px;
		border:none;
		background-color:#123566;
		color:#fff;
		padding:10px 15px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		margin-top:25px;
	}
	#sub-top-rightBox input[type="text"]::placeholder{color:#fff;}



	#sub-top-rightBox input[type="radio"]{display:none;}
	#sub-top-rightBox input[type="radio"]+label{
		display:inline-block;
		width:48%;
		height:45px;
		line-height:45px;
		text-align:center;
		background-color:#123566;
		color:#fff;
		margin-right:5.1px;
		margin-top:10px;
		font-weight:bold;
	}
	#sub-top-rightBox input[type="radio"]:nth-of-type(3)+label{margin-right:0; float:right;}
	#sub-top-rightBox input[type="radio"]:checked + label{background:#7a9fcd;}
	#sub-top-rightBox input[type="submit"]{
		border:none;
		background:#e89c4d;
		width:100%;
		height:45px;
		margin-top:36px;
		color:#fff;
		font-size:16px;
		font-weight:bold;
		appearance:none;
		-webkit-appearance:none;
		-moz-appearance:none;
		-o-appearance:none;
	}
/************************left content***********************************/
	#sub-content-inner{
		margin-top:100px;
		margin-bottom:100px;
		position:relative;
	}
	.location{
		position:absolute;
		bottom:-34px;
		right:0;
		font-size:12px;
		font-weight:bold;
	}
	.location span{color:#e89c4d;}
	#sub-content-left{
		width:100%; 
		overflow:hidden;
		float:left;
		margin-bottom:50px;
	}
	

	
	#tab-all-2030{overflow:hidden; width:100%;}
	#tab-all-2030 ul{
		overflow:hidden;
		border:2px solid #d9d9d9;
		width:100%;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#tab-all-2030 ul li{float:left; width:33.333%; background:#f2f2f2;}
	#tab-all-2030 ul li a{
		display:block;
		font-size:18px;
		font-weight:bold;
		line-height:100px;
		width:100%;
		height:100px;
		border-right:2px solid #d9d9d9;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
		line-height:100px;
		text-align:center;
	}
	.tab-color{color:#fff; background:#205080;}
	#tab-all-2030 ul li:nth-child(3) a{border-right:none;}

	#productKind{overflow:hidden;}
	#productKind ul{overflow:hidden;}
	#productKind>ul>li{
		width:100%;
		border-top:3px solid #205080;
		background:#f2f2f2;
		margin-top:30px;
		overflow:hidden;
		padding:30px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}

	#productKind>ul>li>h3{
		font-size:24px;
		margin-bottom:20px;
		color:#205080;
	}
	#productKind>ul>li>h4{
		font-size:20px;
		line-height:30px;
		margin-bottom:20px;
		color:#666;
	}

	.productKind-textBox{overflow:hidden;}
	.productKind-textBox li{
		margin-bottom:20px;
		overflow:hidden;
	}
	.productKind-textBox li:last-child{margin-bottom:0;}
	.productKind-textBox li img{float:left; clear:both; margin-right:20px;}
	.productKind-textBox li p{float:left;
		font-size:18px;
		font-weight:500;
		line-height:30px;
	}
	.productKind-textBox li p>span{font-size:16px; font-weight:normal; color:#e89c4d;}

	#productKind form{text-align:center; margin:50px 0;}
	#productKind input[type="submit"]{
		width:200px;
		height:60px;
		border:none;
		background:#e89c4d; 
		color:#fff;
		font-size:16px;
		font-weight:bold;
		margin:0 10px;
	}

	#subscription{overflow:hidden;}
	#subscription h3{
		width:100%;
		background:#205080; 
		color:#fff;
		font-size:18px;
		line-height:60px;
		padding-left:20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#subscription h3 a{
		float:right;
		margin-right:20px;
		font-size:14px;
		color:#fff;
	}
	#subscription h3 a img{margin-left:10px; vertical-align:middle;}
	#subscription ul{
		width:100%;
		overflow:hidden;
		padding:20px 10px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
		background:#f2f2f2;
	}
	#subscription ul li{
		width:22.8%;
		float:left;
		background:#fff;
		height:200px;
		margin-right:20px;
		padding:20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#subscription ul li:last-child{margin-right:0;}
	#subscription ul li h4{margin-bottom:20px;}
	#subscription ul li .subscription-contents{font-size:12px; margin-bottom:40px;}
	#subscription ul li .subscription-grade span{color:#e89c4d; font-weight:bold;}
	#subscription ul li .subscription-name{font-size:12px;}

	/********************section2****************************/
	#sub-content #guarantee{margin-top:30px;}
	#sub-content table{border-collapse:collapse; width:100%;}
	#sub-content caption{display:none;}
	#guarantee h3{
		font-size:18px;
		margin:25px 0 15px 0;
	}
	#sub-content th{background:#f2f2f2;}
	#sub-content td{
		padding:10px;
		height:25px;
		border:1px solid #d9d9d9;
		line-height:25px;
	}
	#sub-content th{
		padding:10px;
		height:24px;
		border:1px solid #d9d9d9;
	}
	#sub-content table td:first-child{border-left:none;}
	#sub-content table td:last-child{border-right:none;}
	#sub-content table th:first-child{border-left:none;}
	#sub-content table th:last-child{border-right:none;}
	.center{text-align:center;}
	{margin-top:30px;}
	#guarantee h2{
		font-size:24px;
		padding-bottom:20px;
	}
	
	.guidance-bottom{
		background:#fcf7f0;
		overflow:hidden;
		margin:30px 0 0 0;
		padding:20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.guidance-bottom ul{overflow:hidden; margin-top:10px;}
	.guidance-bottom ul li{color:#666; margin-bottom:5px;}
	.guidance-bottom strong{
		font-size:16px;
		color:#666;
		display:block;
		margin-bottom:10px;
	}
	.bar{width:100%; height:1px;  border-top:1px solid #ccc;}

/******************************section3************************/

	#productPrice{margin-top:30px; width:100%;}
	#productPrice>h2{
		font-size:24px;
		margin-bottom:20px;
		padding-bottom:20px;
		border-bottom:2px solid #d9d9d9;
	}
	#productPrice h3{
		font-size:18px;
		margin:25px 0 15px 0;
	}
	#productPrice .right{text-align:right;}
	#productPrice span{color:red; font-weight:bold;}
	

/************************right prodect****************************/

	.right-sideBar{
		width:100%;
		overflow:hidden;
		border:2px solid #000;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		margin-top:50px;
	}
	.right-sideBar ul{overflow:hidden;}
	.right-sideBar ul li{
		float:left;
		overflow:hidden;
		width:20%;
		/*border-bottom:1px solid #d9d9d9;*/
		border-right:1px solid #d9d9d9;
		border-bottom:1px solid #d9d9d9;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.right-sideBar ul li a{
		display:block;
		width:100%;
		line-height:50px;
		text-align:center;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		font-weight:bold;
		position:relative;
		font-size:14px;
	}
	/*.right-sideBar ul li a:after{
		content:'';
		width:2px;
		height:20px;
		background:#205080;
		position:absolute;
		top:16px;
		right:0;
	}
	.right-sideBar ul li:nth-child(5n) a:after{display:none;}*/
	.right-sideBar-before-none{}
	.right-sideBar-basic{background:#205080; color:#fff;}
}






/*********************************************************핸드폰****************************************************/

@media screen and (max-width:767px){
	body{
		background:url(../image/gnb-bar.png) no-repeat;
		font-family:'Malgun Gothic', sans-serif;
		font-size:12px;
		border-top:2px solid #666;
	}
	#sub-content-inner,
	#footer-inner{
		width:95%;
		margin:0 auto;
		overflow:hidden;
	}
	#header-inner{
		width:100%;
		margin:0 auto;
	}


/**************************top content*********************************/

	#main-top-content{
		position:relative;
		overflow:hidden;
		width:100%;
	}
	.sub-top-content{
		width:100%;
		height:400px;
		background:url(../image/sub-top-img-ipad.png)no-repeat;
		background-size:cover;
	}
	.sub-top-inner{
		width:95%;
		height:100%;
		margin:0 auto;
		display:table;
		position:relative;
	}
	.sub-top-inner #sub-top-leftBox{display:none;}
	


	#sub-top-rightBox{
		overflow:hidden;
		position:absolute;
		top:50%;
		right:0;
		width:100%;
		background:rgba(32,80,128,0.9);
		margin-top:-150px;
		padding:35px 20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#sub-top-rightBox>p{font-size:14px; color:#fff;}
	#sub-top-rightBox>h3{font-size:20px; color:#fff;}
	#sub-top-rightBox input[type="text"]{
		width:100%;
		height:45px;
		border:none;
		background-color:#123566;
		color:#fff;
		padding:10px 15px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		margin-top:20px;
	}
	#sub-top-rightBox input[type="text"]::placeholder{color:#fff;}



	#sub-top-rightBox input[type="radio"]{display:none;}
	#sub-top-rightBox input[type="radio"]+label{
		display:inline-block;
		width:48%;
		height:45px;
		line-height:45px;
		text-align:center;
		background-color:#123566;
		color:#fff;
		margin-right:5.1px;
		margin-top:10px;
		font-weight:bold;
	}
	#sub-top-rightBox input[type="radio"]:nth-of-type(3)+label{margin-right:0; float:right;}
	#sub-top-rightBox input[type="radio"]:checked + label{background:#7a9fcd;}
	#sub-top-rightBox input[type="submit"]{
		border:none;
		background:#e89c4d;
		width:100%;
		height:45px;
		margin-top:20px;
		color:#fff;
		font-size:14px;
		font-weight:bold;
		clear:both;
		appearance:none;
		-webkit-appearance:none;
		-moz-appearance:none;
		-o-appearance:none;
	}
/************************left prodect***********************************/
	#sub-content-inner{
		margin-top:100px;
		margin-bottom:50px;
		position:relative;
	}
	.location{
		position:absolute;
		bottom:-34px;
		right:0;
		font-size:12px;
		font-weight:bold;
	}
	.location span{color:#e89c4d;}
	#sub-content-left{
		width:100%; 
		overflow:hidden;
		float:left;
		margin-bottom:50px;
	}
	
	#tab-all-2030{overflow:hidden; width:100%;}
	#tab-all-2030 ul{
		overflow:hidden;
		border:2px solid #d9d9d9;
		width:100%;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#tab-all-2030 ul li{float:left; width:100%; background:#f2f2f2;}
	#tab-all-2030 ul li a{
		display:block;
		font-size:16px;
		font-weight:bold;
		width:100%;
		height:80px;
		line-height:80px;
		border-bottom:2px solid #d9d9d9;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
		text-align:center;
	}
	#tab-all-2030 ul li:last-child a{border-bottom:none;}
	.tab-color{color:#fff; background:#205080;}
	#tab-all-2030 ul li:nth-child(3) a{border-right:none;}

	#productKind{overflow:hidden;}
	#productKind ul{overflow:hidden;}
	#productKind>ul>li{
		width:100%;
		border-top:3px solid #205080;
		background:#f2f2f2;
		margin-top:20px;
		overflow:hidden;
		padding:20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}

	#productKind>ul>li>h3{
		font-size:20px;
		margin-bottom:10px;
		color:#205080;
	}
	#productKind>ul>li>h4{
		font-size:16px;
		line-height:24px;
		margin-bottom:20px;
		color:#666;
	}

	.productKind-textBox{overflow:hidden;}
	.productKind-textBox li{
		margin-bottom:15px;
		overflow:hidden;
	}
	.productKind-textBox li:last-child{margin-bottom:0;}
	.productKind-icon{
		width:10%;
		margin:0 20px 5px 0;
	}
	.productKind-textBox li p{
		font-size:15px;
		font-weight:500;
		line-height:25px;
	}
	.productKind-textBox li p>span{font-size:14px; font-weight:normal; color:#e89c4d;}

	#productKind form{text-align:center; margin:30px 0 50px 0;}
	#productKind input[type="submit"]{
		width:30%;
		height:40px;
		border:none;
		background:#e89c4d; 
		color:#fff;
		font-size:14px;
		font-weight:bold;
		margin:0 5px;
	}

	#subscription{overflow:hidden;}
	#subscription h3{
		width:100%;
		background:#205080; 
		color:#fff;
		font-size:16px;
		line-height:60px;
		padding-left:20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#subscription h3 a{
		float:right;
		margin-right:20px;
		font-size:12px;
		color:#fff;
	}
	#subscription h3 a img{margin-left:10px; vertical-align:middle;}
	#subscription ul{
		width:100%;
		overflow:hidden;
		padding:10px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
		background:#f2f2f2;
	}
	#subscription ul li{
		width:48.5%;
		float:left;
		background:#fff;
		height:170px;
		margin-right:10px;
		margin-bottom:10px;
		padding:10px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#subscription ul li:nth-child(2n){margin-right:0;}
	#subscription ul li:nth-child(n+2){margin-bottom:0;}
	#subscription ul li h4{margin-bottom:15px;}
	#subscription ul li .subscription-contents{font-size:12px; margin-bottom:25px;}
	#subscription ul li .subscription-grade span{color:#e89c4d; font-weight:bold;}
	#subscription ul li .subscription-name{font-size:12px;}

	/********************section2****************************/
	#sub-content #guarantee{margin-top:30px;}
	#sub-content table{
		border-collapse:collapse;
		width:100%;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#sub-content caption{display:none;}
	#guarantee h3{
		font-size:16px;
		margin:25px 0 15px 0;
	}
	#sub-content th{background:#f2f2f2;}
	#sub-content td{
		padding:10px 0;
		height:20px;
		border:1px solid #d9d9d9;
		line-height:20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	#sub-content th{
		padding:10px;
		height:24px;
		border:1px solid #d9d9d9;
	}
	#sub-content table td:first-child{border-left:none;}
	#sub-content table td:last-child{border-right:none;}
	#sub-content table th:first-child{border-left:none;}
	#sub-content table th:last-child{border-right:none;}
	.center{text-align:center;}
	#guarantee h2{
		font-size:20px;
		padding-bottom:20px;
	}
	
	.guidance-bottom{
		background:#fcf7f0;
		overflow:hidden;
		margin:30px 0 0 0;
		padding:20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.guidance-bottom ul{overflow:hidden; margin-top:10px;}
	.guidance-bottom ul li{color:#666; margin-bottom:5px;}
	.guidance-bottom strong{
		font-size:16px;
		color:#666;
		display:block;
		margin-bottom:10px;
	}
	.bar{width:100%; height:1px;  border-top:1px solid #ccc;}

/******************************section3************************/

	#productPrice{margin-top:30px; width:100%;}
	#productPrice>h2{
		font-size:24px;
		margin-bottom:20px;
		padding-bottom:20px;
		border-bottom:2px solid #d9d9d9;
	}
	#productPrice h3{
		font-size:18px;
		margin:25px 0 15px 0;
	}
	#productPrice .right{text-align:right;}
	#productPrice span{color:red; font-weight:bold;}
	

/************************right prodect****************************/

	.right-sideBar{
		width:100%;
		overflow:hidden;
		border:2px solid #000;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		margin-top:50px;
	}
	.right-sideBar ul{overflow:hidden;}
	.right-sideBar ul li{
		float:left;
		overflow:hidden;
		width:33.33%;
		/*border-bottom:1px solid #d9d9d9;*/
		border-right:1px solid #d9d9d9;
		border-bottom:1px solid #d9d9d9;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.right-sideBar ul li a{
		display:block;
		width:100%;
		line-height:50px;
		text-align:center;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		font-weight:bold;
		position:relative;
	}
	/*.right-sideBar ul li a:after{
		content:'';
		width:2px;
		height:20px;
		background:#205080;
		position:absolute;
		top:16px;
		right:0;
	}
	.right-sideBar ul li:nth-child(3n) a:after{display:none;}*/
	.right-sideBar-before-none{}
	.right-sideBar-basic{background:#205080; color:#fff;}

}
